/* _______________

RESET

__________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* _______________

COMMON

__________________*/

body  {
    position: relative;
    background-color: black;
}

body>* {
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    display: block;
}

.row {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    align-content: flex-start;
    gap: 5px;
    row-gap: 10px;
    width: 95%;
    height: calc(100vh - 120px);
    overflow-x: scroll;
}

/* _______________

HEADER

__________________*/

header {
    height: 30px;
    margin: 5px;
    display: flex;
    justify-content: flex-end;
    background-color: black;
    gap: 0.5vw;
}

header>* {
    background-color: rgba(74, 74, 74, 0.6);
    border-radius: 10px;
    padding: 5px;
}

/* _______________

MAIN

__________________*/

main {
    display: flex;
    justify-content: center;
}


.video {
    width: 250px;
    height: 150px;
    position: relative;
}


.video .name {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2%;
    background-color: rgba(74, 74, 74, 0.4);
}
/* _______________

FOOTER

__________________*/

footer {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    height: 80px;
    background-color: #222222;
    font-size: 1vw;
    }

footer>* {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 10px;
    padding: 0 10px;
}

.icon {
    text-align: center;
}

.icon>i {
    font-size: 2vw;
    margin: 5px;
}

.device::after {
    content: '\2303';
}

#exit {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    background-color: #4a4a4a;
    color: red;
    padding: 0 2vw;
}

#share-screen i{
    color: green;
}

