/* _______________

RESET

__________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* _______________

COMMON

__________________*/


/* _______________

HEADER

__________________*/

/* _______________

MAIN

__________________*/

/* _______________

FOOTER

__________________*/