/* _______________

RESET

__________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* _______________

COMMON

__________________*/

body  {
    position: relative;
    background-color: black;
}

body>* {
    color: white;
    font-size: 2vh;
}

a {
    text-decoration: none;
    color: inherit;
}
/* _______________

HEADER

__________________*/

header {
    font-size: 2vh;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    gap: 0.5vw;
    padding: 2vh 0.5vw;
}

header>* {
    background-color: rgba(74, 74, 74, 0.6);
    padding: 10px;
    border-radius: 10px;
}
/* _______________

MAIN

__________________*/

/* _______________

FOOTER

__________________*/